[submodule "SD"]
	path = SD
	url = https://github.com/PaulStoffregen/SD.git
[submodule "Time"]
	path = Time
	url = https://github.com/PaulStoffregen/Time.git
[submodule "DS1307RTC"]
	path = DS1307RTC
	url = https://github.com/PaulStoffregen/DS1307RTC.git
[submodule "Wire"]
	path = Wire
	url = https://github.com/PaulStoffregen/Wire.git
